* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Evafiya"; */
}

html,
body {
  height: 100%;
  width: 100%;
  /* background: #cb9e9e; */
  background-color: #f6f5f1;
}

/* navbar  */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  padding: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.nav-links a {
  font-size: 14px;
  color: #0d0d0d;
  text-decoration: none;
  font-weight: 100;
}

.nav-search {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 10%;
  padding: 0 10px;
}

/* hero section  */
.hero {
  margin-top: 2rem;
  padding: 3rem;
  width: 95%;
  height: 70vh;
  background-image: url(./img/banner-image1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.hero h1 {
  font-family: "Cinzel";
  font-size: 5rem;
  font-weight: 100;
}
.hero p {
  margin: 2rem 0rem;
  font-family: "Gilroy-Regular";
  font-weight: lighter;
  color: #585252;
  line-height: 1.4;
  /* letter-spacing: 1.9; */
}
.hero-btn {
  padding: 1.2em 2.5em;
  font-size: 1em;
  letter-spacing: 2px;
  background-color: #787d62;
  color: #fff;
  border: none;
  cursor: pointer;
}

.row {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.first {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-circle {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #787d62;
  border-radius: 50%;
}
.row-circle img {
  height: 50%;
  width: 50%;
  stroke-width: 0.5;
  fill: lightgreen;
}

.first p {
  text-transform: uppercase;
  font-family: "Cinzel";
  font-size: 1.5rem;
  margin-left: 10px;
}

.about {
  /* margin-top: 10rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  /* height: 100vh; */
  padding: 2rem;
}
.about-img img {
  height: 500px;
  width: 700px;
  overflow: hidden;
  z-index: -100;
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
}
.about-text {
  width: 50%;
  padding: 2.5rem;
}
.about-text h1 {
  font-family: "Cinzel";
  font-size: 5rem;
  font-weight: 100;
}
.about-text p {
  margin: 2rem 0rem;
  font-family: "Gilroy-Regular";
  font-weight: lighter;
  color: #585252;
  line-height: 1.5;
}
.about-text button {
  padding: 1.2em 2.5em;
  font-size: 1em;
  letter-spacing: 2px;
  /* background-color: #787d62; */
  border: 0.7px solid #585252;
  cursor: pointer;
}

.featured {
  /* margin-top: 100px; */
  height: 85vh;
  margin: 2rem;
  margin-top: 5rem;
  /* background-color: green; */
}
.featured-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 2rem; */
}
.featured-heading h1 {
  font-family: "Cinzel";
  font-size: 5rem;
  font-weight: 100;
}
.featured-heading p {
  /* margin: 2rem 0rem; */
  font-family: "Gilroy-Regular";
  /* font-weight: lighter; */
  /* color: #585252; */
  /* line-height: 1.5; */
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
